<div class="container">
    <img src="" alt="" width="100%">
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum eos nobis voluptatibus reprehenderit voluptates aliquid sequi labore impedit perspiciatis aspernatur aliquam rerum, molestias distinctio odio recusandae officia assumenda dignissimos ex!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus inventore, odit sapiente ab voluptate, blanditiis culpa fugit repudiandae vel deleniti officiis consectetur repellat exercitationem nisi magni at? Magnam, quo!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati atque molestiae hic quod accusantium ab, vitae consequatur consectetur sunt laudantium doloremque expedita nisi asperiores quidem nesciunt itaque perspiciatis consequuntur similique?
        <br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos maxime sunt modi. Ex esse nisi molestiae corporis dolorem, fugit repudiandae dignissimos voluptatem ab? Ratione omnis, recusandae quidem quod unde quaerat?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat esse eius ad? Voluptas reiciendis ducimus, omnis similique numquam, soluta neque officiis nemo blanditiis molestiae eveniet tempora illo facere impedit consequatur.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum eos nobis voluptatibus reprehenderit voluptates aliquid sequi labore impedit perspiciatis aspernatur aliquam rerum, molestias distinctio odio recusandae officia assumenda dignissimos ex!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus inventore, odit sapiente ab voluptate, blanditiis culpa fugit repudiandae vel deleniti officiis consectetur repellat exercitationem nisi magni at? Magnam, quo!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati atque molestiae hic quod accusantium ab, vitae consequatur consectetur sunt laudantium doloremque expedita nisi asperiores quidem nesciunt itaque perspiciatis consequuntur similique?
        <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum eos nobis voluptatibus reprehenderit voluptates aliquid sequi labore impedit perspiciatis aspernatur aliquam rerum, molestias distinctio odio recusandae officia assumenda dignissimos ex!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus inventore, odit sapiente ab voluptate, blanditiis culpa fugit repudiandae vel deleniti officiis consectetur repellat exercitationem nisi magni at? Magnam, quo!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati atque molestiae hic quod accusantium ab, vitae consequatur consectetur sunt laudantium doloremque expedita nisi asperiores quidem nesciunt itaque perspiciatis consequuntur similique?
        <br>
    </p>
</div>
